/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 6, 2016, 8:23:17 PM
    Author     : Asus
*/
#wrapper{
	margin: 0px 18%;
	font-family: 'Lato', sans-serif;
}
#user{
	text-align: right;
	margin: 0;
}
#logout{
	text-align: right;
	margin: 0;
}

.head {
	font-size: 130%;
}

.content{
	width : 100%;
	height: auto;
	margin : 0 0 20px 0;
	padding: 0;
	font-size: 110%;
}
.content .image{
	width: 20%;
	float : left;
}
.content .image img{
	max-width:100%;
	max-height:100%;
	width:auto;
	height:auto;
}
.content .description{
	width: 44%;
	float : left;
}
.description {
	margin-left: 3%;
}
.content .description p{
	margin : 0;
	font-size: 80%;
}
.content .interaction{
	width: 20%;
	float : right;
}
a.one:link, a.one:visited {
	text-decoration: none;
	font-weight: bold;
	color: #4a86e8;
}
a.one:hover {
	color: hotpink;
}
a.two:link, a.two:visited {
	text-decoration: none;
	font-weight: bold;
	color: green;
}
a.two:hover {
	color: hotpink;
}
a.three:link, a.three:visited {
	text-decoration: none;
	font-weight: bold;
	color: orange;
}
a.three:hover {
	color: hotpink;
}
a.four:link, a.four:visited {
	text-decoration: none;
	font-weight: bold;
	color: red;
}
a.four:hover {
	color: hotpink;
}
a.five:link, a.five:visited {
	text-decoration: none;
	font-weight: bold;
	color: #4a86e8;
}
a.five:hover {
	color: hotpink;
}
input[type="text"] {
	margin: 0;
	width: 81%;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;				  
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
input[type="text"]:focus {
 	outline: none;
}
.style-1 input[type="text"] {
	color : 777777;
	padding: 10px;
	border: solid 1px gainsboro;
	background-color: #f1f1f1;
	-webkit-transition: box-shadow 0.3s, border 0.3s;
	-moz-transition: box-shadow 0.3s, border 0.3s;
	-o-transition: box-shadow 0.3s, border 0.3s;
	transition: box-shadow 0.3s, border 0.3s;
}
.style-1 input[type="text"]:focus {
	border: solid 1px #12c1d6;
	-webkit-box-shadow: 0 0 3px 1px #969696;
	-moz-box-shadow: 0 0 3px 1px #969696;
	box-shadow: 0 0 3px 1px #969696;
}
.style-2 input[type="text"], .style-3 textarea {
	color : 777777;
	width: 100%;
	padding: 10px;
	border: solid 1px gainsboro;
	-webkit-transition: box-shadow 0.3s, border 0.3s;
	-moz-transition: box-shadow 0.3s, border 0.3s;
	-o-transition: box-shadow 0.3s, border 0.3s;
	transition: box-shadow 0.3s, border 0.3s;
}
.style-2 input[type="text"]:focus, .style-3 textarea:focus {
	border: solid 1px #12c1d6;
	-webkit-box-shadow: 0 0 3px 1px #969696;
	-moz-box-shadow: 0 0 3px 1px #969696;
	box-shadow: 0 0 3px 1px #969696;
}
.btnSubmit, .btnCancel {
	width: 15%;
	height: 8%;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 3%;
	padding-right: 3%;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	float: right;
	color: white;
	background: #4a86e8;
	border: 1px solid #07aabd;
}
 
.btnSubmit:hover, .btnCancel:hover {
	color: #0fa3b5;
	background: #fcf529;
}
.left {
	float: right;
	width: 97%;
	margin-bottom: 4%;
}
textarea{
	display: block;
	margin: 0;
	width: 102%;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;				  
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
textarea:focus {
	outline: none;
}
.btnCancel {
 	margin-left: 3%;
 	margin-bottom: 4%;
}
.top {
	margin-top: 7%;
}
.red {
	font-style: italic;
	font-size: 14px;
	color : hotpink;
}